<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="./stylesheets/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            const likeEvent = (title) => {
                const url = "http://localhost:3000/profile/like";
                if (
                    document.getElementById(title).style.backgroundColor === ""
                ) {
                    document.getElementById(title).style.backgroundColor =
                        "rgb(211, 248, 243)";
                    const data = {
                        postId: title,
                        option: "l",
                    };
                    $.ajax({
                        type: "post",
                        url: url,
                        data: data,
                        success: function (data) {
                            console.log(data);
                        },
                    });
                } else {
                    console.log("unliked");
                    document.getElementById(title).style.backgroundColor = "";
                    const data = {
                        postId: title,
                        option: "d",
                    };
                    $.ajax({
                        type: "post",
                        url: url,
                        data: data,
                        success: function (data) {
                            console.log(data);
                        },
                    });
                }
            };
        </script>
    </head>
    <body>
        <div id="profileTitleAndFollow" class="bg-light">
            <div id="profileTitle"><h4><%= username %></h4></div>
            <img
                src="./images/bubble.jpeg"
                alt="image for project"
                width="50px"
                height="50px"
            />
            <div>
                <form action="/profile" method="post">
                    your projects:
                    <select name="postType" onchange="this.form.submit()">
                        <option value="" selected disabled hidden>
                            <%= whichType %>
                        </option>
                        <option value="public">public</option>
                        <option value="private">private</option>
                        <option value="liked">liked</option>
                        <option value="reposted">reposted</option>
                    </select>
                </form>
            </div>
            <div><%= count %> <%= whichType %> posts</div>
            <div id="settingsBtn">settings</div>
            <div id="followingsContainer">
                <div id="following">
                    <div>following</div>
                    <div><%= userDetails.numFollowing %></div>
                </div>
                <div id="followers">
                    <div>fans</div>
                    <div><%= userDetails.numFollowers %></div>
                </div>
            </div>
        </div>
        <div id="profile">
            <div id="profileInfo">
                <div id="profilePicName">
                    <img
                        src="./images/bubble.jpeg"
                        alt="image for project"
                        width="80px"
                        height="80px"
                        id="profilePic"
                    />
                    <div id="userProfile"><%= username %></div>
                    <div id="totalPosts"><%= userDetails.numPosts %> posts</div>
                </div>
                <div id="profileDescription">
                    <%= userDetails.description %>
                </div>
            </div>
            <div id="profileFeedContainer">
                <% for (post in posts) {%>
                <div class="postContainer">
                    <div class="relevanceInfo">
                        <div class="popularLabel">popular</div>
                        <div class="tagLabel">electronic</div>
                        <div class="following">following</div>
                        <div class="privacy"><%= posts[post].privacy %></div>
                        <div class="likeContainer">
                            <div class="postEdit">go to project</div>
                            <div id="<%= posts[post]._id %>likeCount">
                                &nbsp <%= posts[post].likeCount %> |&nbsp
                            </div>
                            <div id="<%= posts[post]._id %>repostCount">
                                <%= posts[post].repostCount %>
                            </div>
                        </div>
                    </div>
                    <div
                        style="
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        "
                    >
                        <div class="postTitle">
                            <%= posts[post].title %>&nbsp
                        </div>
                    </div>
                    <div class="postImgDes">
                        <img
                            src="./images/bubble.jpeg"
                            alt="image for project"
                            width="100px"
                            height="100px"
                        />
                        <div class="postDes">
                            <div class="postInfo">
                                <div><strong><%= username %></strong>&nbsp</div>
                                <div class="date"><%= posts[post].date %></div>
                            </div>
                            <div class="desInfo">
                                <%= posts[post].description %>
                            </div>
                        </div>
                    </div>
                    <hr class="line" />
                    <div class="interactiveBtns">
                        <div class="comment">
                            <div
                                class="commentBtn"
                                onclick="showHideComments(event)"
                            >
                                <%= posts[post].commentCount%> comments
                            </div>
                        </div>
                        <div class="getLinkBtn" onclick="getLinkEvent()">
                            get project link!
                        </div>
                        <div class="repostBtn" onclick="repostEvent()">
                            repost
                        </div>
                        <div
                            class="likeBtn"
                            onclick="likeEvent('<%= posts[post]._id %>')"
                            id="<%= posts[post]._id %>"
                        >
                            like
                        </div>
                    </div>
                    <div class="commentOverview" style="display: none">
                        <div id="makeCommentContainer">
                            <form
                                style="
                                    display: flex;
                                    align-items: center;
                                    width: 100%;
                                    flex-direction: column;
                                "
                            >
                                <textarea
                                    placeholder="say something..."
                                    class="commentText"
                                ></textarea>
                            </form>
                        </div>
                        <div class="commentSection">
                            <div class="userComment">
                                <div class="commentUserDate">
                                    <div class="commentUsername">
                                        <strong>katking123</strong>&nbsp
                                    </div>
                                    <div class="commentDate">Jun 22, 2022</div>
                                </div>
                                <div class="commentContent">
                                    This project is great. Request sent!
                                </div>
                                <div class="commentActions">
                                    <div>reply&nbsp</div>
                                    <div>like</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <div id="notificationInfo">
                <div id="selectNotificationType">
                    <div>notifications&nbsp</div>
                    <select>
                        <option>all</option>
                        <option>comments</option>
                        <option>requests</option>
                        <option>new fans</option>
                    </select>
                </div>
                <div id="notificationContainer">
                    <div class="commentNotification">
                        <div class="date">Jun 22, 2022</div>
                        <strong>bo2323</strong> replied to your comment:
                        <br />&nbsp&nbsp"this project can be better if..."
                    </div>
                    <div class="commentNotification">
                        <div class="date">Jun 22, 2022</div>
                        <strong>bo2323</strong> replied to your comment:
                        <br />&nbsp&nbsp"this project can be better if..."
                    </div>
                    <div class="commentNotification">
                        <div class="date">Jun 22, 2022</div>
                        <strong>bo2323</strong> replied to your comment:
                        <br />&nbsp&nbsp"this project can be better if..."
                    </div>
                    <div class="commentNotification">
                        <div class="date">Jun 22, 2022</div>
                        <strong>bo2323</strong> replied to your comment:
                        <br />&nbsp&nbsp"this project can be better if..."
                    </div>
                    <div class="commentNotification">
                        <div class="date">Jun 22, 2022</div>
                        <strong>bo2323</strong> replied to your comment:
                        <br />&nbsp&nbsp"this project can be better if..."
                    </div>
                    <div class="commentNotification">
                        <div class="date">Jun 22, 2022</div>
                        <strong>bo2323</strong> replied to your comment:
                        <br />&nbsp&nbsp"this project can be better if..."
                    </div>
                    <div class="commentNotification">
                        <div class="date">Jun 22, 2022</div>
                        <strong>bo2323</strong> replied to your comment:
                        <br />&nbsp&nbsp"this project can be better if..."
                    </div>
                    <div class="commentNotification">
                        <div class="date">Jun 22, 2022</div>
                        <strong>bo2323</strong> replied to your comment:
                        <br />&nbsp&nbsp"this project can be better if..."
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
